
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */